@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    padding: 8px;
    height: calc(100vh - 16px);
}

.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
}

.nav {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-right: 10px;
}

.content {
    flex: 1;
}

.app_layout {
    display: flex;
    height: 100%;
}
